body {
    margin : 0.5em;
    background-color : #e6e6e6;
}

ul {
    list-style : none;
    padding-left : 0;
}

li {
    list-style-type : none;
}

form {
    display : inline;
}

input[type=checkbox]
{
  /* Double-sized Checkboxes */
  -ms-transform : scale(2); /* IE */
  -moz-transform : scale(2); /* FF */
  -webkit-transform : scale(2); /* Safari and Chrome */
  -o-transform : scale(2); /* Opera */
  transform : scale(2);
  padding : 10px;
  margin : 10px;
}

select {
    height : 35px;
}

.button-light {
    background-color : #d2f0f9;
}

.border-rounded {
    border-radius : 4px;
    border : 0px solid #bbb;
    padding : 2px;
}

.green-background {
    background-color : #ccffcc;
}

.yellow-background {
    background-color : #ffffcc;
}

.img-btn {
    height : 24px;
    width : 24px;
    vertical-align : middle;
    padding-bottom : 3px;
}

#footer {
    clear : both;
    padding-top : 2em;
    padding-right : 160px;
    font-family : sans-serif;
//    font-size : 10px;
}

.tablewrapper {
  position : relative;
}
.table {
  display : table;
}
.row {
  display : table-row;
}
.cell {
  display : table-cell;
}

