body {
    margin : 0.5em;
    background-color : #e6e6e6;
}

ul {
    list-style : none;
    padding-left : 0;
}

li {
    list-style-type : none;
}

form {
    display : inline;
}

input[type=checkbox]
{
  /* Double-sized Checkboxes */
  -ms-transform : scale(2); /* IE */
  -moz-transform : scale(2); /* FF */
  -webkit-transform : scale(2); /* Safari and Chrome */
  -o-transform : scale(2); /* Opera */
  transform : scale(2);
  padding : 10px;
  margin : 10px;
}

select {
    height : 35px;
}

.button-light {
    background-color : #d2f0f9;
}

.border-rounded {
    border-radius : 4px;
    border : 0px solid #bbb;
    padding : 8px;
}

.green-background {
    background-color : #ccffcc;
    display : inline-block;
}

.yellow-background {
    background-color : #ffffcc;
    display : inline-block;
}

.img-btn {
    height : 24px;
    width : 24px;
    vertical-align : middle;
    padding-bottom : 3px;
}

#footer {
    clear : both;
    padding-top : 2em;
    padding-right : 160px;
    font-family : sans-serif;
//    font-size : 10px;
}

.tablewrapper {
  position : relative;
}
.table {
  display : table;
}
.row {
  display : table-row;
}
.cell {
  display : table-cell;
}

#top_button {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: red; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#top_button:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}
